 .storybg {
      background-image: url("https://i.pinimg.com/736x/b9/39/fe/b939fe344e100442093b889a22df7f3a.jpg"); 
      background-repeat: no-repeat; 
      background-position: center; 
      background-size: cover; 
      margin: 0;       
      padding: 20px;
      font-family: Arial, sans-serif;
    }
    .gren {
      position: sticky;
      top: 10px;
      z-index: 10;
      background-color: #BEDFBB;
      width: 90%;
      max-width: 900px;
      border-radius: 25px;
      padding: 10px;
      border: 3px solid #354c2b;
      box-shadow: 5px 5px 30px rgba(0,0,0,0.3);
      margin: auto;
    }
  p {
   font-size: 20px;
   text-align: justify;
  }
body {
  font-family: 'Poppins', sans-serif;
}
  .white {
   align: center;
   font-weight: bold;
   color: white; 
   font-size: 18px;
  }
ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  transition: background-color 0.5s ease, transform 0.5s ease;
  font-size: 30px; 
}
li {
font-size: 20px; 
}
