 .storybg {
      background-image: url("https://i.pinimg.com/736x/b9/39/fe/b939fe344e100442093b889a22df7f3a.jpg"); 
      background-repeat: no-repeat; 
      background-position: center; 
      background-size: cover; 
      margin: 0;       
      padding: 20px;
      font-family: Arial, sans-serif;
    }
    .gren {
      background-color: #8EA48B;
      width: 90%;
      max-width: 900px;
      border-radius: 25px;
      padding: 10px;
      border: 3px solid #354c2b;
      box-shadow: 5px 5px 30px rgba(0,0,0,0.3);
      margin: auto;
    }
