 .storybg {
      background-image: url("https://i.pinimg.com/736x/b9/39/fe/b939fe344e100442093b889a22df7f3a.jpg"); 
      background-repeat: no-repeat; 
      background-position: center; 
      background-size: cover; 
      margin: 0;       
      padding: 20px;
      font-family: Arial, sans-serif;
    }
